@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ! Initial set up */
.container {
    @apply max-w-[1170px] mx-auto;
}

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
    --shadow-cart: 0px 1px 13px rgba(0, 0, 0, 0.05);
}

/* ! Initial set up */


/* ! header menu */
.menus li a,
.category a {
    @apply text-black text-[16px] leading-6 font-normal font-poppins relative;
}

.menus li a:hover,
.fmenu a:hover {
    @apply text-[#DB4444] duration-200;

}

.menus li a::after {
    @apply absolute w-0 content-[""] h-0.5 bg-[rgba(0,0,0,0.25)] left-0 bottom-[-5px] duration-500;
}

.menus li a:hover::after {
    @apply w-full;
}

/* ! header menu */

/* ! new arrival menu */
.gblbtn {
    @apply font-medium font-poppins text-[16px] text-[#FAFAFA] leading-6 py-4 px-12 bg-[#DB4444] rounded-[5px] cursor-pointer
}

/* ! new arrival menu */

.fmenus a img:hover {
    @apply text-[#DB4444]
}


.trash .icon:hover {
    @apply text-[#DB4444] duration-100
}

/* ! cart page */
@theme {
    --shadow-cart: 0px 1px 13px rgba(0, 0, 0, 0.05);
}

/* ! cart page */